* {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

/* LOGIN */
.login {
  align-items: center;
  background-color: #1b4332;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.logo-container {
  align-items: center;
  background-color: #3c9b73;
  border: 10px solid white;
  border-radius: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  justify-content: center;
  padding: 50px 0;
  transform: rotate(-20deg);
  width: 250px;
}

.logo-container h1 {
  font-size: 5.2em;
}

.login-container {
  align-items: center;
  border: 5px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px;
  width: 40vw;
}

.login-container h1 {
  color: white;
  font-size: 3em;
  margin-bottom: 15px;
  text-align: center;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-form label {
  align-items: center;
  color: white;
  display: flex;
  font-size: 1.9em;
  margin-bottom: 10px;
}

.login-form input {
  border-radius: 5px;
  font-size: 0.7em;
  margin-left: 5px;
  padding: 5px;
  width: 400px;
}

.login-form button {
  border-radius: 5px;
  font-size: 1.8em;
  width: 30%;
}

.login-container .loading {
  color: white;
  font-size: 1.9em;
}

/* HEADER */
header {
  background-color: #081c15;
  color: rgb(225, 225, 225);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
}

.title-container {
  /* transform: rotate(-20deg);*/
  align-items: center;
  background-color: #1b4332;
  border-right: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}

.title-container h1 {
  font-size: 4.2em;
}

.earphone-img {
  margin: 0 8px;
  width: 45px;
}

.title-container h1:nth-of-type( 2 ) {
  flex-basis: 100%;
  text-align: center;
}

.user-container {
  align-items: center;
  display: flex;
  margin-right: 10px;
  padding: 10px 0;
}

.user-container h2 {
  font-size: 2.3em;
}

.user-container .profile-img {
  border: 2px solid white;
  border-radius: 100%;
  height: 100px;
  margin: 10px 20px;
  width: 100px;
}

.user-container .loading {
  font-size: 2.3em;
  height: 100px;
  margin: 10px 30px;
}

.links-container {
  background-color: #1b4332;
  border-top: 1px solid white;
  color: white;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.links-container a {
  color: rgb(225, 225, 225);
  font-size: 2.5em;
  font-weight: 900;
  margin: auto;
  padding: 20px;
  text-decoration: none;
}
