* {
  box-sizing: border-box;
  color: black;
  font-size: 10px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

input {
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px;
}

button {
  border-radius: 5px;
  font-size: 1.8em;
  padding: 2px;
}

/* LOGIN */
.login {
  align-items: center;
  background-color: #1b4332;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.logo-container {
  align-items: center;
  background-color: #3c9b73;
  border: 10px solid white;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 black;
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  justify-content: center;
  padding: 50px 0;
  transform: rotate(-20deg);
  width: 250px;
}

.logo-container h1 {
  font-size: 5.2em;
}

.login-container {
  align-items: center;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 black;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px;
  width: 40vw;
}

.login-container h1 {
  color: white;
  font-size: 3em;
  margin-bottom: 15px;
  text-align: center;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-form label {
  align-items: center;
  color: white;
  display: flex;
  font-size: 1.9em;
  margin-bottom: 10px;
}

.login-form input {
  font-size: 0.7em;
  width: 400px;
}

.login-form button {
  width: 30%;
}

.login-loading {
  color: white;
  font-size: 1.9em;
}

/* HEADER */
header {
  background-color: #081c15;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: rgb(225, 225, 225);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
}

.title-container {
  align-items: center;
  background-color: #20503c;
  border-right: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px 0;
}

.title-container h1 {
  font-size: 4.2em;
}

.earphone-img {
  margin: 0 8px;
  width: 45px;
}

.title-container h1:nth-of-type( 2 ) {
  flex-basis: 100%;
  text-align: center;
}

.user-container {
  align-items: center;
  display: flex;
  margin-right: 10px;
  padding: 10px 0;
}

.user-container h2 {
  color: white;
  font-size: 2.3em;
}

.user-container .profile-img {
  border: 2px solid white;
  border-radius: 100%;
  height: 100px;
  margin: 10px 20px;
  width: 100px;
}

.user-loading {
  align-self: center;
  color: white;
  font-size: 2.3em;
  margin: 0 20px;
}

.links-container {
  background-color: #20503c;
  border-top: 1px solid white;
  color: white;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.links-container a {
  color: rgb(225, 225, 225);
  font-size: 2.5em;
  font-weight: 900;
  margin: auto;
  padding: 20px;
  text-decoration: none;
}

/* SEARCH */
.search {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.search-form {
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 25px;
  padding: 20px;
  width: 40vw;
}

.search-form input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  font-size: 2em;
  width: 300px;
}

.search-form input::placeholder {
  text-align: center;
}

.search-form button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  font-size: 2.4em;
  margin-left: 10px;
}

.search-loading {
  font-size: 3em;
}

.albums-board {
  align-items: center;
  border: 5px solid #1b4332;
  border-radius: 10px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  padding: 20px;
  width: 95vw;
}

.albums-board h2 {
  background-color: rgb(225, 225, 225);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex-basis: 90%;
  font-size: 3em;
  margin: 40px;
  padding: 20px;
  text-align: center;
}

.album-card {
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 290px;
  margin: 15px 25px;
  width: 230px;
}

.album-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.album-card .album-texts {
  margin: auto;
  text-align: center;
}

.album-card .album-texts h3 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

/* ALBUM */
.album {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px 40px;
  width: 100vw;
}

.album-loading {
  font-size: 3em;
  text-align: center;
}

.album .album-container {
  display: flex;
  width: 20%;
}

.album .album-card {
  margin: auto;
}

.album .music-board {
  display: flex;
  flex-flow: column wrap;
  height: 80vh;
  overflow-x: auto;
  width: 80%;
}

.music-board .music-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  width: 320px;
}

.music-board .music-card p {
  font-size: 1.25em;
  font-weight: 900;
  margin: 4px;
  text-align: center;
}

.music-board .music-card audio {
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.music-board .music-card label {
  display: flex;
  margin: 4px;
}
